<ion-header>
    <ion-navbar color="dark">
        <ion-title>Completa tus Datos</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="signup-merge">
    <div class="profile">
        <ion-fab top right>
            <button ion-fab color="dark"
                (click)="updatePicture()">
                <ion-icon name="camera"></ion-icon></button>
        </ion-fab>
        <img [src]="user?.photoURL || profileBgDefault">
    </div>
    <form [formGroup]="form" padding>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item class="item-input">
                        <ion-label stacked>NOMBRE</ion-label>
                        <ion-input type="text" formControlName="firstName" placeholder="Ingresa tu nombre"></ion-input>
                    </ion-item>
                    <div *ngIf="form.get('firstName').hasError('required') && (form.get('firstName').touched || showErrors)" class="input-error">* Ingresa tu nombre</div>
                </ion-col>
                <ion-col>
                    <ion-item class="item-input">
                        <ion-label stacked>APELLIDO</ion-label>
                        <ion-input type="text" formControlName="lastName" placeholder="Ingresa tu apellido"></ion-input>
                    </ion-item>
                    <div *ngIf="form.get('lastName').hasError('required') && (form.get('lastName').touched || showErrors)" class="input-error">* Ingresa tu apellido</div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label stacked>EMAIL</ion-label>
                        <ion-input type="text" value="{{user?.email}}" disabled></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <p>Móvil<br>
                        <small>Ingresa código de área sin el 0 y número sin el 15</small></p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3>
                    <ion-item>
                        <ion-input type="text" formControlName="phonePrefix" readonly></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-9>
                    <ion-item>
                        <ion-input type="number" formControlName="phoneMobile" placeholder="Ingresa tu número de móvil"></ion-input>
                    </ion-item>
                    <div *ngIf="form.get('phoneMobile').hasError('required') && (form.get('phoneMobile').touched || showErrors)" class="input-error">* Ingresa tu número de móvil</div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <button ion-button block outline
            style="margin-top:30px;"
            (click)="presentModalTos()" 
            color="dark">Ver los Términos y Condiciones</button>
        <ion-item no-lines>
            <ion-label text-wrap>He leído y acepto los Términos y Condiciones</ion-label>
            <ion-checkbox formControlName="tosAccept" color="dark"></ion-checkbox>
        </ion-item>
        <div *ngIf="form.get('tosAccept').value==false && showErrors" class="input-error">&nbsp;* Lee y acepta los términos y condiciones</div>
        <button ion-button color="dark" block margin-bottom margin-top 
            (click)="submit()">Confirmar y Guardar</button>
        <button ion-button clear block margin-bottom margin-top 
            color="dark"
            (click)="signOut()">Salir</button>
    </form>
</ion-content>