page-modal-search-map-address {

    ion-list.list-ios ion-item ion-label,
    ion-list.list-md ion-item ion-label{
        font-size: 1.5rem;
    } 

    ion-list.list-ios ion-item ion-label ion-icon,
    ion-list.list-md ion-item ion-label ion-icon{
    display: inline-block;
    font-size: 1em;
    margin-right: 10px;
    color:#ad1717;
}

}
