<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <h4>Servicios</h4>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <!-- flotaing bottom right button -->
    <ion-fab bottom right>
        <button ion-fab color="primary" (click)="createSending()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
    <ion-list *ngIf="(sendings | async)?.length==0">
        <button ion-item detail-none (click)="createSending()">
            <h2 ion-text color="primary" text-center>No hay servicios activos</h2>
        </button>
    </ion-list>
    <ion-list *ngFor="let item of sendings | async">
        <ion-card>
            <ion-item class="header">
                <h2>{{ item.objectShortName | capitalizePipe }}</h2>
                <ion-note item-right>#{{ item.publicId }}</ion-note>
            </ion-item>
            <ion-item class="content" (click)="goToDetail(item.$key)">
                <p><span>Desde</span> {{ item.pickupAddressStreetShort }} {{ item.pickupAddressNumber }}, {{ item.pickupAddressCityShort }}</p>
                <p><span>Hasta</span> {{ item.dropAddressStreetShort }} {{ item.dropAddressNumber }}, {{ item.dropAddressCityShort }}</p>
                <p><span><small> {{ item.timestamp | ts2datePipe }}</small></span></p>
                <ion-icon name="arrow-forward" item-right></ion-icon>
            </ion-item>
            <ion-item class="footer">
                <ion-icon name="create" item-left 
                    [class.active]="item._currentStage_Status=='created_registered'">
                </ion-icon>
                <ion-icon name="card" item-left 
                    [class.active]="item._currentStage_Status=='created_paid'">
                </ion-icon>                    
                <ion-icon name="time" item-left 
                    [class.active]="item._currentStage_Status=='created_enabled' || item._currentStage_Status=='live_waitoperator'">
                </ion-icon>
                <ion-icon name="home" item-left 
                    [class.active]="item._currentStage_Status=='live_gotoperator' || item._currentStage_Status=='live_waitpickup'">
                </ion-icon>
                <ion-icon name="pin" item-left 
                    [class.active]="item._currentStage_Status=='live_pickedup' || item._currentStage_Status=='live_inroute' ">
                </ion-icon>
                <ion-icon name="md-done-all" item-left 
                    [class.active]="item._currentStage_Status=='live_dropped' || item._currentStage_Status=='closed_complete'">
                </ion-icon>
                <ion-icon name="alert" item-left 
                    [class.active]="item._currentStage_Status=='closed_canceledbysender' || item._currentStage_Status=='closed_canceledbyoperator'">
                </ion-icon>
                <ion-note 
                    *ngIf="getStatusMessage(item._currentStage_Status).mode=='note'"
                    item-right color="{{ getStatusMessage(item._currentStage_Status).color }}"
                    >{{ getStatusMessage(item._currentStage_Status).message }}</ion-note>
                <button ion-button
                    *ngIf="getStatusMessage(item._currentStage_Status).mode=='button'"
                    item-right color="{{ getStatusMessage(item._currentStage_Status).color }}"
                    (click)="goToCheckout(item.$key)"
                    >{{ getStatusMessage(item._currentStage_Status).message }}</button>                    
            </ion-item>
        </ion-card>
    </ion-list>
    <div style="display:inline-block;height:75px"></div>
</ion-content>