<ion-header>
    <ion-navbar color="green">
        <ion-title>#{{ shipment.publicId }}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="openActionSh()">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>

    <!-- TABS -->
    <div margin-bottom margin-top>
        <ion-segment [(ngModel)]="shipmenttab" color="green">
            <ion-segment-button value="notifications">
                <ion-icon name="notifications"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="details">
                <ion-icon name="send"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="pickup">
                <ion-icon name="home"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="drop">
                <ion-icon name="pin"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </div>

    <!-- TAB CONTENT -->
    <div [ngSwitch]="shipmenttab">

        <ion-list *ngSwitchCase="'notifications'">
            <ion-list-header>Estado y Notificaciones</ion-list-header>
            <ion-item-divider>Estado</ion-item-divider>
            <button class="active" ion-item no-lines detail-none (click)="goToTab('details')">
                <ion-icon name="send" item-left></ion-icon>
                <h3>Servicio confirmado</h3>
                <p>Registrado el {{ shipment.timestamp | ts2datePipe }}</p>
                <p>A cobrar por viaje: ${{ sending.price }}</p>
                <ion-icon name="checkmark" item-right></ion-icon>
            </button>

            <!-- IF -->
            <ion-item no-lines *ngIf="sending._stages.live.status.pickedup.set==false">
                <ion-icon name="home" item-left></ion-icon>
                <h3>Retirar</h3>
                <p>Retirar entre {{ sending.pickupTimeFrom }} y {{ sending.pickupTimeTo }}</p>
                <button ion-button small item-right color="green" (click)="showAlertNotifyAction('pickupDone')">
                    Notificar
                </button>
            </ion-item>
            <button class="active" ion-item no-lines *ngIf="sending._stages.live.status.pickedup.set==true" (click)="goToTab('pickup')">
                <ion-icon name="home" item-left></ion-icon>
                <h3>Retirado</h3>
                <p>Retirado de {{ sending.pickupAddressStreetShort }} {{ sending.pickupAddressNumber }}</p>
                <ion-icon name="checkmark" item-right></ion-icon>
            </button>
            <!-- ENDIF -->

            <!-- IF -->
            <ion-item *ngIf="sending._stages.live.status.dropped.set==false">
                <ion-icon name="pin" item-left></ion-icon>
                <h3>Entregar</h3>
                <p>Entregar entre {{ sending.dropTimeFrom }} y {{ sending.dropTimeTo }}</p>
                <button ion-button small item-right color="green" 
                    (click)="showAlertNotifyAction('dropDone')" 
                    [disabled]="sending._stages.live.status.pickedup.set==false">
                    Notificar
                </button>
            </ion-item>
            <ion-item *ngIf="sending._stages.live.status.dropped.set==true">
                <ion-icon name="pin" item-left></ion-icon>
                <h3>Entregado</h3>
                <p>Entregado en {{ sending.dropAddressStreetShort }} {{ sending.dropAddressNumber }}</p>
                <ion-icon name="checkmark" item-right></ion-icon>
            </ion-item>
            <!-- ENDIF -->

            <ion-item-divider>Notificaciones</ion-item-divider>
            <ion-list>
                <ion-item *ngFor="let notif of notifications" text-wrap>
                    <ion-icon name="{{ notif.data.icon }}" item-left></ion-icon>
                    <h2>{{ notif.data.title }}</h2>
                    <p>{{ notif.data.msg }}</p>
                </ion-item>
            </ion-list>
        </ion-list>

        <ion-list *ngSwitchCase="'details'">
            <ion-list>
                <ion-list-header>Detalles del Envío</ion-list-header>
                <ion-item-divider>Solicitante
                    <button ion-button outline item-right icon-left color="green">
                        <ion-icon name="call"></ion-icon>
                        Llamar
                    </button> </ion-item-divider>
                <ion-item no-lines>
                    <ion-thumbnail item-left>
                        <img src="http://placehold.it/200x200">
                    </ion-thumbnail>
                    <h2>Marco Polo</h2>
                    <h3>+5491165432100</h3>
                </ion-item>
                <ion-item-divider>Precio</ion-item-divider>
                <ion-item no-lines>
                    <ion-icon name="card" item-left light></ion-icon>
                    <p>Distancia aproximada: 15 km</p>
                    <h2><b>$ 79.00</b></h2>
                </ion-item>
                <ion-item-divider>Carga</ion-item-divider>
            </ion-list>
            <ion-grid>
                <ion-row>
                    <ion-col width-50>
                        <img [src]="sending.objectImageDownloadUrl">
                    </ion-col>
                    <ion-col width-50>
                        <ion-item no-lines>
                            <p>Objeto a enviar</p>
                            <h2>Caja</h2>
                            <br>
                            <p>Valor declarado</p>
                            <h2>$1000,00</h2>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>

        <ion-list *ngSwitchCase="'pickup'">
            <ion-list>
                <ion-list-header>Detalles del Retiro</ion-list-header>
                <ion-item-divider>Dirección
                    <button ion-button outline item-right icon-left color="green">
                        <ion-icon name="navigate"></ion-icon>
                        Mapa
                    </button>
                </ion-item-divider>
                <ion-item no-lines>
                    <ion-icon name="home" item-left></ion-icon>
                    <h2>Av. de Mayo 432</h2>
                    <h3>Buenos Aires</h3>
                </ion-item>
                <ion-item-divider>Horario</ion-item-divider>
                <ion-item no-lines>
                    <ion-icon name="time" item-left></ion-icon>
                    <p>Banda horaria para el retiro</p>
                    <h2>11:30 a 13:00</h2>
                </ion-item>
                <ion-item-divider>Persona que entrega
                    <button ion-button outline item-right icon-left color="green">
                        <ion-icon name="call"></ion-icon>
                        Llamar
                    </button></ion-item-divider>
                <button ion-item no-lines>
                    <ion-icon name="person" item-left></ion-icon>
                    <h2>Marco Polo</h2>
                    <h3>+5491165432100</h3>
                </button>
                <ion-item-divider>Código de Seguridad</ion-item-divider>
                <ion-item>
                    <ion-icon name="lock" item-left></ion-icon>
                    <h2>875462</h2>
                    <p text-wrap>Informa este código de seguridad<br>al retirar el envío<br>para validar tu identidad.</p>
                </ion-item>
            </ion-list>
        </ion-list>

        <ion-list *ngSwitchCase="'drop'">
            <ion-list>
                <ion-list-header>Detalles de la Entrega</ion-list-header>
                <ion-item-divider>Dirección
                    <button ion-button outline item-right icon-left color="green">
                        <ion-icon name="navigate"></ion-icon>
                        Mapa
                    </button></ion-item-divider>
                <ion-item no-lines>
                    <ion-icon name="pin" item-left></ion-icon>
                    <h2>Gorriti 1234</h2>
                    <h3>Buenos Aires</h3>
                </ion-item>
                <ion-item-divider>Horario</ion-item-divider>
                <ion-item no-lines>
                    <ion-icon name="time" item-left></ion-icon>
                    <p>Banda horaria para la entrega</p>
                    <h2>15:00 a 17:00</h2>
                </ion-item>
                <ion-item-divider>Persona que recibe
                    <button ion-button outline item-right icon-left color="green">
                        <ion-icon name="call"></ion-icon>
                        Llamar
                    </button></ion-item-divider>
                <ion-item no-lines>
                    <ion-icon name="person" item-left></ion-icon>
                    <h3><span>Nombre</span> Arturo Mengano</h3>
                    <h3><span>DNI</span> 99.999.999</h3>
                    <h3><span>Teléfono</span> (11) 15 9876 5432</h3>
                    <h3><span>Email</span> amengano@gmail.com</h3>
                </ion-item>
                <ion-item-divider>Código de Seguridad</ion-item-divider>
                <ion-item>
                    <ion-icon name="lock" item-left></ion-icon>
                    <h2>445682</h2>
                    <p text-wrap>Este código de seguridad<br>debe ser informado por la <br>persona que recibe el envío.</p>
                </ion-item>
            </ion-list>
        </ion-list>

    </div>
</ion-content>