page-shipment-create-1 {
    ion-list .item h3 span {
        color: #aaa;
        min-width: 75px;
        display: inline-block;
    }
    ion-list .item h3 {
        color: color($colors, green);
        font-size: 1.4rem;
    }
    ion-list .item ion-icon {
        color: color($colors, green);
    }
    .item-md .item-button,
    .item-ios .item-button {
        padding: 1.3em;
    }
    // item selected
    .item.selected {
        background: color($colors, green);
    }
    .item.selected ion-icon,
    .item.selected h3 {
        color: white;
    }
    .item.selected h3 span {
        color: #aaa;
    }
    // MAP
    #maps1 {
        min-height: 300px;
        height: 50%;
        width: 100%;
    }
}