page-sendings {

    .ion-ios-add{
        color: #fff;
    }

    .item-inner{
        padding: 10px;
    }

    ion-icon.item-icon{
            color: $overall-color-sendings;
    }

    .button-inner{
        background-color: $overall-color-sendings;
    }

    .has-refresher > .scroll-content {
        border-top: none;
    }
    
    ion-icon.item-right{
        font-size: 2.9rem; 
    }
    
    scroll-content{
        
        .button-inner{		
            
            ion-icon{
                color: #fff;
            }	
        }
    }

    /* card list */
    ion-card ion-list-header.item{
        background: #ededed;
        text-transform: none;
    }
    ion-card ion-list-header.item h2{
        color: color($colors, primary);
        font-size: 1.8rem;
    }
    div.item-inner{
        padding:0px;
    }
    ion-card ion-item ion-label h3{
        color: #bbb!important;
    } 
    ion-card ion-item ion-label p{
        padding: 3px 0 3px 0;
    } 
    ion-card ion-item.footer{
        background: #fafafa;
    }
    ion-card ion-item.footer ion-icon{
        font-size:2.6rem;
    }

}
