<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <h4><span>{{ appName }}</span></h4>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <!-- Active sendings -->
    <ion-card (click)="goToSendings()" class="sendings">
        <ion-row>
            <ion-col>
                <button ion-button icon-right clear color="primary">
                    <div>Servicios activos</div>
                    <ion-icon name="md-arrow-forward"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
        <ion-list>
            <ion-item *ngFor="let item of sendings | async">
                <ion-icon item-start name="ios-send-outline"></ion-icon>
                <h3>{{ item?.objectShortName | capitalizePipe }}</h3>
                <ion-note item-end>#{{ item?.publicId }}</ion-note>
                <p>{{ getStatusMessage(item?._currentStage_Status).message }}</p>
            </ion-item>
        </ion-list>
    </ion-card>
    <!-- Active shipments -->
    <ion-card (click)="goToShipments()" class="shipments">
        <ion-row>
            <ion-col>
                <button ion-button icon-right clear color="green">
                    <div>Operador</div>
                    <ion-icon name="md-arrow-forward"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
        <ion-list>
            <ion-item *ngFor="let item of shipments">
                <ion-icon item-start name="ios-send-outline"></ion-icon>
                <h3>{{ item?.objectShortName | capitalizePipe }}</h3>
                <ion-note item-end>#{{ item?.publicId }}</ion-note>
                <p>{{ getStatusMessage(item?._currentStage_Status).message }}</p>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>