page-settings {

    div.profile{
        padding-top: 40px;
        padding-bottom: 20px;
        background: $bg-color-second-level;
    }
	div.profile img{
		margin-right: auto;
		margin-left: auto;
		display: block;
		border-radius: 50%;
	}

	ion-item.item-input,
    button.item{
		padding-left: 0;
	}

    ion-item-divider.item{
        background: color($colors, subdark);
        color: #fff;
    }

    ion-list ion-item ion-icon{
        color: color($colors, subdark);
    }
}
