page-settings {

	div.profile{
			padding-top: 20px;
    		padding-bottom: 20px;
    		background: #464646;
	}
	div.profile img{
		margin-right: auto;
		margin-left: auto;
		display: block;
		border-radius: 50%;
	}

	ion-item.item-input,
    button.item{
		padding-left: 0;
	}
}
