<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Nuevo</ion-title>
        <ion-buttons start>
            <button ion-button (click)="cancelSending()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="sending-create">
    <form [formGroup]="formOne">
        <ion-list radio-group [formControl]="objectType">
            <ion-item-divider>Datos del Envío
                <ion-note item-right>
                    <ion-icon name="radio-button-on"></ion-icon>
                    <ion-icon name="radio-button-off"></ion-icon>
                    <ion-icon name="radio-button-off"></ion-icon>
                    <ion-icon name="radio-button-off"></ion-icon>
                </ion-note>
            </ion-item-divider>         
            <ion-list-header>Foto  <ion-note item-right>Opcional</ion-note></ion-list-header>
            <ion-card>
                <div>
                    <img [src]="objectImageUrl.value || cameraDefaultBg" />
                </div>
                <ion-item>
                    <button ion-button clear item-right
                        (click)="takePicture()"><ion-icon name="camera"></ion-icon></button>
                </ion-item>
            </ion-card>
            <ion-list-header>Descripción corta</ion-list-header>
            <ion-item>
                <ion-input type="text" placeholder="Ej: folletos, imanes" [formControl]="objectShortName"></ion-input>
            </ion-item>             
            <div *ngIf="objectShortName.hasError('required') && objectShortName.touched" class="input-error">* ingresa una descripción corta</div>
            <div *ngIf="objectShortName.hasError('minlength') && objectShortName.touched" class="input-error">* mínimo 3 caracteres</div>
            <div *ngIf="objectShortName.hasError('maxlength') && objectShortName.touched" class="input-error">* máximo 75 caracteres</div>
            <ion-list-header>Tipo de objeto</ion-list-header>
            <ion-item no-lines>
                <ion-label>Sobre</ion-label>
                <ion-radio value="sobre"></ion-radio>
            </ion-item>
            <ion-item no-lines>
                <ion-label>Caja</ion-label>
                <ion-radio value="caja"></ion-radio>
            </ion-item>
            <ion-item no-lines>
                <ion-label>Objeto irregular</ion-label>
                <ion-radio value="irregular"></ion-radio>
            </ion-item>
            <ion-list-header>Valor a declarar</ion-list-header>
            <ion-item no-lines>
                <ion-range min="0" max="3000" step="100" 
                    [(ngModel)]="rangeValue" 
                    [formControl]="objectDeclaredValue" 
                    [disabled]="objectNoValueDeclared.value==true">
                    <ion-label range-right>${{ objectDeclaredValue.value }}</ion-label>
                </ion-range>
            </ion-item>
            <ion-item no-lines>
                <ion-label>Sin valor</ion-label>
                <ion-toggle 
                    [formControl]="objectNoValueDeclared" 
                    (ionChange)="resetObjectDeclaredValue($event)"></ion-toggle>
            </ion-item>
            <div *ngIf="objectDeclaredValue.hasError('nonZero') && objectNoValueDeclared.value==false" class="input-error">* Desliza hasta el valor ó marca "Sin valor"</div>
        </ion-list>
        <div margin>
            <button ion-button block color="primary" class="submit" (click)="submitInit()" [disabled]="objectType.valid==false || (objectNoValueDeclared.value==false && objectDeclaredValue.valid==false)">Siguiente</button>
            <button ion-button block color="subdark" clear margin-top (click)="cancelSending()">Cancelar</button>
        </div>       
    </form>
</ion-content>