<ion-header>
    <ion-navbar color="primary">
        <ion-title><h4>Nuevo Servicio</h4></ion-title>
        <ion-buttons left>
            <button ion-button (click)="cancelSending()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content class="sending-create">
    <form [formGroup]="formOne">
        <ion-list no-lines>
            <ion-item-divider>Detalle del Servicio
                <ion-note item-right>
                    <ion-icon name="md-radio-button-on"></ion-icon>
                    <ion-icon name="md-radio-button-off"></ion-icon>
                    <ion-icon name="md-radio-button-off"></ion-icon>
                    <ion-icon name="md-radio-button-off"></ion-icon>
                </ion-note>
            </ion-item-divider>             

            <ion-list-header style="margin-bottom:0;">Etiqueta<ion-note item-right>Para tu referencia</ion-note></ion-list-header>
            <ion-item>
                <ion-input type="text" clearInput
                    placeholder="Ej: folletos, imanes" 
                    formControlName="objectShortName"></ion-input>
            </ion-item>             
            <div *ngIf="objectShortName.hasError('required') && objectShortName.touched || showErrors && objectShortName.valid==false" 
                class="input-error">* ingresa una Descripción corta</div>
            <div *ngIf="objectShortName.hasError('minlength') && objectShortName.touched" 
                class="input-error">* mínimo 3 caracteres</div>
            <div *ngIf="objectShortName.hasError('maxlength') && objectShortName.touched" 
                class="input-error">* máximo 75 caracteres</div>
        </ion-list>
        <ion-list radio-group formControlName="objectType" no-lines>
            <ion-list-header>Tipo de objeto</ion-list-header>
            <ion-item no-lines>
                <ion-label>Sobre</ion-label>
                <ion-radio value="sobre"></ion-radio>
            </ion-item>
            <ion-item no-lines>
                <ion-label>Caja</ion-label>
                <ion-radio value="caja"></ion-radio>
            </ion-item>
            <ion-item no-lines>
                <ion-label>Objeto irregular</ion-label>
                <ion-radio value="irregular"></ion-radio>
            </ion-item>
            <div *ngIf="showErrors && objectType.valid==false" 
                class="input-error">* selecciona el Tipo de objeto</div>            
        </ion-list>
        <ion-list no-lines>   
            <ion-list-header>Valor a declarar</ion-list-header>
            <ion-item no-lines>
                <ion-range min="0" max="3000" step="100" color="primary" 
                    [(ngModel)]="rangeValue" 
                    formControlName="objectDeclaredValue">
                    <ion-label range-right color="dark">${{ objectDeclaredValue.value }}</ion-label>
                </ion-range>
            </ion-item>
            <ion-item no-lines
                [ngClass]="{'toggled': noValueToggle}">
                <ion-label>Sin valor</ion-label>
                <ion-toggle 
                    formControlName="objectNoValueDeclared" 
                    (ionChange)="resetObjectDeclaredValue()"
                    [(ngModel)]="noValueToggle"></ion-toggle>
            </ion-item>
            <div *ngIf="showErrors && objectDeclaredValue.hasError('nonZero') && objectNoValueDeclared.value==false" 
                class="input-error">* Desliza hasta el valor ó marca "Sin valor"</div>
        </ion-list>
        <ion-list no-lines>              
            <ion-list-header>Foto  <ion-note item-right>Opcional</ion-note></ion-list-header>
            <ion-card>
                <div>
                    <img [src]="objectImageUrlTemp.value || cameraDefaultBg" />
                </div>
                <ion-item>
                    <button ion-button clear item-right
                        (click)="takePicture()"><ion-icon name="camera"></ion-icon></button>
                </ion-item>
            </ion-card>
            <div *ngIf="showErrors && objectImageUrlTemp.value==''" 
                class="input-optional">* incluye una foto (opcional)</div>  

        </ion-list>
        <div margin>
            <button ion-button block color="primary" 
                class="submit" 
                (click)="submit()" 
                >Siguiente</button>
            <button ion-button block color="subdark" clear margin-top (click)="cancelSending()">Cancelar</button>
        </div>       
    </form>
</ion-content>