page-sending-create-2 {
    ion-item.header{
        background: #ccc;
    }
    .input-error{
        margin-left: 20px;
        margin-top: 5px;
        color: red;
    }
    button.submit{
        margin-top: 30px;
    }
}
