<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons start>
            <button ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Nuevo</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="formTwo"> 
        <ion-list>
            <ion-item-divider>Datos del Retiro
                <ion-note item-right>
                    <ion-icon name="radio-button-on"></ion-icon>
                    <ion-icon name="radio-button-on"></ion-icon>
                    <ion-icon name="radio-button-off"></ion-icon>
                    <ion-icon name="radio-button-off"></ion-icon>
                </ion-note>
            </ion-item-divider>             
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d13134.365872335158!2d-58.38880525!3d-34.61449064999999!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sar!4v1470177425680" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <ion-list-header>Dirección de Retiro</ion-list-header>
            <ion-item>
                <ion-input type="text" placeholder="Ingresa la dirección" formControlName="pickupAddressFullText"></ion-input>
            </ion-item>
            <div class="ac-input">
                <div class="ac-inner">
                    <input type="text" id="pickupaddress" placeholder="ingresa la dirección y selecciona">
                </div>    
            </div>    
            <div *ngIf="showErrors && !pickupAddressFullText.valid" 
                class="input-error">* Dirección de retiro es requerida</div>
            <ion-list-header margin-top>Banda horaria de Retiro</ion-list-header>
            <ion-item>
                <ion-label>Desde</ion-label>
                <ion-datetime 
                    formControlName="pickupTimeFrom" 
                    displayFormat="HH:mm" minuteValues="00,30" 
                    cancelText="Cancelar" doneText="Listo" 
                    [(ngModel)]="rangeFrom" 
                    (ionChange)="adjustPickupTimeTo($event)"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Hasta</ion-label>
                <ion-datetime 
                formControlName="pickupTimeTo" 
                displayFormat="HH:mm" minuteValues="00,30" 
                cancelText="Cancelar" doneText="Listo" 
                [(ngModel)]="rangeTo" 
                (ionChange)="adjustPickupTimeFrom($event)"></ion-datetime>
            </ion-item>
            <div *ngIf="showErrors && !pickupTimeFrom.touched && !pickupTimeTo.touched" 
                class="input-optional"><small>* verifica que el horario de retiro sea correcto</small></div>
            <ion-list-header>
                Contacto para Retiro
                <button ion-button outline item-right small 
                    (click)="populateUserDataInContact()">Copiar mis datos</button>
            </ion-list-header>
            <ion-list inset>
                <ion-item no-lines>
                    <ion-label>Nombre</ion-label>
                    <ion-input type="text" formControlName="pickupPersonName"></ion-input>
                </ion-item>
                <div *ngIf="pickupPersonName.hasError('required') && pickupPersonName.touched || showErrors && pickupPersonName.valid==false" 
                    class="input-error">* ingresa un nombre de contacto</div>
                <ion-item no-lines>
                    <ion-label>Telefono</ion-label>
                    <ion-input type="text" formControlName="pickupPersonPhone"></ion-input>
                </ion-item>
                <div *ngIf="pickupPersonPhone.hasError('required') && pickupPersonPhone.touched || showErrors && pickupPersonPhone.valid==false" 
                    class="input-error">* ingresa un teléfono de contacto</div>                
                <ion-item no-lines>
                    <ion-label>Email</ion-label>
                    <ion-input type="text" formControlName="pickupPersonEmail"></ion-input>
                </ion-item>
                <div *ngIf="showErrors && pickupPersonEmail.value==''" 
                    class="input-optional">* ingresa un email de contacto (opcional)</div> 
                <div *ngIf="pickupPersonEmail.value!='' && pickupPersonEmail.hasError('isValid') && pickupPersonEmail.touched" 
                    class="input-error">* ingresa una dirección válida</div>                
            </ion-list>
        </ion-list>
        <div margin>
            <button ion-button block color="primary" 
                (click)="submit()">Siguiente</button>
            <button ion-button block color="primary" outline margin-top 
                (click)="goBack()">Volver</button>                
            <button ion-button block color="subdark" clear margin-top (click)="cancelSending()">Cancelar</button>
        </div>
    </form>
</ion-content>