// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// Google Fonts
@import 'https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i';
// Font Variables
$roboto-light: 'Roboto', sans-serif;


// Styles
body {
  font-family: $roboto-light;
}

.ios{

    ion-menu{

        ion-toolbar .toolbar-background{
                border-color: #f2f2f2 !important;
                background: #f2f2f2 !important;
        }

        ion-content{

            background-color: #f3f3f3;

            .item > ion-icon:first-child, .item-inner > ion-icon:first-child{
                min-width: 36px;
                font-size: 2.6rem;
            }

            .item{
                background-color: #f3f3f3;
                color: #595858;
                padding-bottom: 10px;
                padding-top: 10px;

                h2{
                    font-size: 2rem;
                    font-weight: 500;
                }

                .item-inner{
                    font-size: 2rem;
                    margin-left: 10px;
                }

                .item-inner:first-child{
                    margin-left: -10px;
                }
            }

            h2{
                font-weight: 500;
                font-size: 2rem;
            }
        }
    }

    ion-header.image-header{

        .toolbar{
            min-height: 60px;
        }

        ion-title{
            width: 100%;
            margin: auto;
            width: auto;
            margin-left: 11%;

            img{
                vertical-align: middle;
                float: left;
                margin-top: 11px;
                margin-right: 8px;

            }
            h4{
                float: right;
                margin-top: 9px;

                width: auto;
            }
        }
    }

    ion-item{

        ion-label[stacked] {
            font-size: 1.8rem;
            font-weight: 100;
            color: #464646;
        }
    }

    ion-item-divider{

        ion-label{
            font-size: 1.8rem;
            font-weight: 400;
            margin-bottom: 15px;
            margin-top: 15px;
        }
    }

    item-inner{

        .item{
            font-size: 1.8rem;
            font-weight: 100;
            color: #464646;
        }
    }

}

