<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons start>
            <button ion-button (click)="goToSendings()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Pagar</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>  
    <form
        [formGroup]="chForm"
        (ngSubmit)="runCheckout()"> 
    <ion-list>
        <ion-item no-lines>
            <h2>Mi Servicio: <b>{{ sending.objectShortName }}</b></h2>
            <p>#{{ sending.publicId }}</p>        
        </ion-item>           
        <ion-list-header>Pagar con Tarjeta de Crédito</ion-list-header>        

        <ion-item no-lines>
            <div class="input-item-left" item-left>
                <img [src]="cardThumbnail">
            </div>            
            <ion-label color="primary" stacked>Número de la tarjeta</ion-label>
            <ion-input type="text" data-checkout="cardNumber"
                placeholder="Número de tarjeta"
                formControlName="cardNumber"
                (keyup)="numberInserted($event)"></ion-input>
        </ion-item>
        <div class="error"
            *ngIf="chForm.get('cardNumber').hasError('required') && (chForm.get('cardNumber').touched || showRequired)"
            >Ingresa el nro de la tarjeta</div>
        <div class="error"
            *ngIf="chForm.get('cardNumber').hasError('maxlength')"
            >Máximo 16 dígitos</div>    
        <div class="error"
            *ngIf="chForm.get('cardNumber').hasError('isNumber') && !chForm.get('cardNumber').hasError('required')"
            >Solo números, sin espacios</div>  
        <div class="error"
            *ngIf="invalidCardNumber"
            >Número de tarjeta inválido para pagos</div>                                    

        <ion-item no-lines>
            <div class="input-item-left" item-left>
            </div>             
            <ion-label color="primary" stacked>Código de seguridad</ion-label>
            <ion-input type="password" data-checkout="securityCode" 
                formControlName="securityCode"
                placeholder="Pin de seguridad"></ion-input>
        </ion-item> 
        <div class="error"
            *ngIf="chForm.get('securityCode').hasError('required') && (chForm.get('securityCode').touched || showRequired)"
            >Ingresa el código de seguridad</div>
        <div class="error"
            *ngIf="chForm.get('securityCode').hasError('maxlength')"
            >Máximo 4 dígitos</div>    
        <div class="error"
            *ngIf="chForm.get('securityCode').hasError('isNumber') && !chForm.get('securityCode').hasError('required')"
            >Solo números</div>    

        <ion-item no-lines>
            <div class="input-item-left" item-left>
            </div>                         
            <ion-label color="primary" stacked>Vencimiento de la tarjeta</ion-label>            
            <ion-datetime cancelText="Cancelar" doneText="Listo" 
                displayFormat="MM YYYY"
                pickerFormat="MM YYYY"
                [min]="dates.current.standard"
                [max]="dates.currentplus20.standard"
                formControlName="cardExpiration"
                [(ngModel)]="cardExpiration"></ion-datetime>
        </ion-item> 

        <ion-item no-lines>
            <div class="input-item-left" item-left>
            </div>                         
            <ion-label color="primary" stacked>Nombre titular de la tarjeta</ion-label>
            <ion-input type="text" data-checkout="cardHolderName" 
                formControlName="cardHolderName"
                placeholder="Nombre del titular"></ion-input>
        </ion-item> 
        <div class="error"
            *ngIf="chForm.get('cardHolderName').hasError('required') && (chForm.get('cardHolderName').touched || showRequired)"
            >Ingresa el nombre del titular de la tarjeta</div>        

        <ion-item no-lines margin-bottom>
            <div class="input-item-left" item-left>
            </div>                         
            <ion-label color="primary" stacked>DNI</ion-label>
            <ion-input type="text" data-checkout="docNumber" 
                formControlName="docNumber"
                placeholder="DNI sin puntos"></ion-input>
        </ion-item> 
        <div class="error"
            *ngIf="chForm.get('docNumber').hasError('required') && (chForm.get('docNumber').touched || showRequired)"
            >Ingresa el dni</div>
        <div class="error"
            *ngIf="chForm.get('docNumber').hasError('isNumber') && !chForm.get('docNumber').hasError('required')"
            >Solo números, sin punto ni espacios</div> 

        <input type="hidden" 
            data-checkout="docType" 
            formControlName="docType"
            [(ngModel)]="docType">
        <input type="hidden" 
            data-checkout="paymentMethodId" 
            formControlName="paymentMethodId"
            [(ngModel)]="paymentMethodId">   
                     
        <ion-list-header text-center margin-top>Importe a pagar: <b>${{ sending.price }}</b></ion-list-header>  
    </ion-list>
    <div margin>
        <button ion-button type="submit" block color="primary">Pagar</button>
    </div>
    </form>
</ion-content>