<ion-header>
    <ion-toolbar color="dark">
        <ion-title>
            Cambiar dirección de email
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding class="modal-user-edit-email">

    <ion-card *ngIf="changeInProcess==true">
        <ion-card-header>
        <ion-icon name="alert" item-left></ion-icon> ATENCIÓN 
        </ion-card-header>
        <ion-card-content>
        La dirección de email <b>{{ accountData.email }}</b> aún no ha sido validada.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
        <ion-icon name="alert" item-left></ion-icon> AYUDA
        </ion-card-header>
        <ion-card-content>
            <p text-center>Te enviaremos un correo a la nueva dirección de email con un link de validación, clickéalo para confirmar el cambio.
                <br><br><em style="color:#999">Algunas funcionalidades de la App quedarán deshabilitadas hasta que la nueva dirección de email sea validada.</em></p>
        </ion-card-content>
    </ion-card>    

    <form [formGroup]="editForm">
        <ion-item margin-bottom>
            <ion-label stacked>NUEVA DIRECCIÓN DE EMAIL</ion-label>
            <ion-input #input type="email" [formControl]="email"></ion-input>
        </ion-item>
        <div *ngIf="(email.hasError('required') || email.hasError('isValid')) && (email.touched || showErrors)" class="input-error">* Ingresa un email válido</div>
        <div *ngIf="sameEmailError" class="input-error">* La nueva dirección de email coincide con la actual</div>        
        <button ion-button color="dark" block margin-top 
            (click)="submit()">Modificar</button>
        <button ion-button color="dark" outline block margin-top (click)="dismiss()">Cancelar</button>
    </form>
</ion-content>