<ion-header>
    <ion-navbar color="green">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <h4>Historial</h4>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>

    <p ion-text color="green" text-center 
        *ngIf="(shipments | async)?.length==0">No hay servicios en historial</p>
    
    <ion-list *ngIf="operator?.enabled">
        <!-- list item only visible if operator?.enabled -->
        <ion-card (click)="goToDetail(item)"
            *ngFor="let item of shipments | async">
            <ion-item class="header">
                <h2>#{{ item?.publicId }}</h2>
                <ion-note item-right>{{ item?.summary.objectShortName }}</ion-note>
            </ion-item>
            <ion-item class="content">
                <!-- status icon -->                
            <ion-icon name="ios-done-all-outline" item-left 
                *ngIf="item._currentStage_Status=='closed_completed'"
                class="active">
            </ion-icon>
            <ion-icon name="ios-checkbox-outline" item-left 
                *ngIf="item._currentStage_Status=='closed_autocompleted'"
                class="active">
            </ion-icon>
            <ion-icon name="ios-close-circle-outline" item-left 
                *ngIf="item._currentStage_Status=='closed_canceledbysender'"
                class="activalert">
            </ion-icon>                    
            <ion-icon name="ios-close-circle-outline" item-left 
                *ngIf="item._currentStage_Status=='closed_canceledbyoperator'"
                class="activealert">
            </ion-icon>
            <ion-icon name="ios-alert-outline" item-left 
                *ngIf="item._currentStage_Status=='closed_payexpired'"
                class="activewarn">
            </ion-icon>                    
            <ion-icon name="ios-alert-outline" item-left 
                *ngIf="item._currentStage_Status=='closed_waitoperatorexpired'"
                class="activewarn">
            </ion-icon>  
                <!-- // -->
                <p><span>Estado</span> {{ getStatusMessage(item?._currentStage_Status) }}</p>
                <p><span>Recorrido</span> {{ item?.summary.pickupAddressCityShort }} <ion-icon name="md-arrow-forward"></ion-icon> {{ item?.summary.dropAddressCityShort }}</p>                
                <p><span>Fecha</span> {{ item?.timestamp | formatdatePipe:'dddd DD/MMMM' }}</p>
                <ion-icon name="arrow-forward" item-right></ion-icon>
            </ion-item>
        </ion-card>
    </ion-list>
</ion-content>