<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons start>
            <button ion-button (click)="goBack(3)">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Nuevo</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item-divider>Confirmar Datos
            <ion-note item-right>
                <ion-icon name="radio-button-on"></ion-icon>
                <ion-icon name="radio-button-on"></ion-icon>
                <ion-icon name="radio-button-on"></ion-icon>
                <ion-icon name="radio-button-on"></ion-icon>
            </ion-note>
        </ion-item-divider>          
        <div class="map-container">
            <div id="mapf4"></div>
        </div>        
        <ion-list-header>
            Mapa
        </ion-list-header>
        <ion-item no-lines>
            <ion-icon name="pin" item-left></ion-icon>
            <p>Distancia aproximada *<br><small>* distancia aproximada</small><p>
            <h2>{{ sending.routeDistanceTxt }}</h2>
            <div margin></div>
            <p>Duración estimada *<br><small>* tiempo estimado solo de referencia</small><p>
            <h2>{{ sending.routeDurationTxt }}</h2>            
        </ion-item>
        <ion-list-header>
            Objeto
            <button ion-button outline item-right (click)="goBack(1)">Modificar</button>
        </ion-list-header>
         <ion-item no-lines
            *ngIf="sending.objectImageUrl!=''">
            <img [src]="sending.objectImageUrl">
        </ion-item>
        <ion-item no-lines>
            <ion-icon name="cube" item-left
                *ngIf="sending.objectType=='caja'"></ion-icon>
            <ion-icon name="mail" item-left
                *ngIf="sending.objectType=='sobre'"></ion-icon>
            <ion-icon name="qr-scanner" item-left
                *ngIf="sending.objectType=='irregular'"></ion-icon>                                
            <p>Descripción corta</p>
            <h2>{{ sending.objectShortName }}</h2>
            <div margin></div>
            <p>Tipo de objeto</p>
            <h2>{{ sending.objectType }}</h2>
            <div margin></div>
            <p>Valor declarado</p>
            <h2 *ngIf="sending.objectDeclaredValue > 0">${{ sending.objectDeclaredValue }}</h2>
            <h2 *ngIf="sending.objectDeclaredValue == 0">sin valor</h2>
        </ion-item>
        <ion-list-header>
            Retiro
            <button ion-button outline item-right (click)="goBack(2)">Modificar</button>
        </ion-list-header>
        <ion-item no-lines>
            <ion-icon name="home" item-left></ion-icon>
            <p>Dirección</p>
            <h2>{{ sending.pickupAddressStreetShort }} {{ sending.pickupAddressNumber }}</h2>
            <h2 *ngIf="sending.pickupAddressCityAreaLong!=''">{{ sending.pickupAddressCityAreaLong }}</h2>  
            <h3 *ngIf="sending.pickupAddressLine2!=''">{{ sending.pickupAddressLine2 }}</h3>          
            <h2><span *ngIf="sending.pickupAddressPostalCode!=''">({{ sending.pickupAddressPostalCode }})</span> {{ sending.pickupAddressCityLong }}</h2>
            <h2>{{ sending.pickupAddressStateLong }}</h2>            
        </ion-item>
        <ion-item no-lines>
            <ion-icon name="time" item-left></ion-icon>
            <p>Banda horaria de retiro</p>
            <h2>{{ sending.pickupTimeFrom }} a {{ sending.pickupTimeTo }}</h2>
        </ion-item>
        <ion-item no-lines>
            <ion-icon name="person" item-left></ion-icon>
            <p>Persona que entrega</p>
            <h2>{{ sending.pickupPersonName }}</h2>
            <h2>{{ sending.pickupPersonPhone }}</h2>
            <h2>{{ sending.pickupPersonEmail }}</h2>
        </ion-item>
        <ion-list-header>
            Entrega
            <button ion-button outline item-right (click)="goBack(3)">Modificar</button>
        </ion-list-header>
        <ion-item no-lines>
            <ion-icon name="pin" item-left></ion-icon>
            <p>Dirección</p>
            <h2>{{ sending.dropAddressStreetShort }} {{ sending.dropAddressNumber }}</h2>
            <h2 *ngIf="sending.dropAddressCityAreaLong!=''">{{ sending.dropAddressCityAreaLong }}</h2>  
            <h3 *ngIf="sending.dropAddressLine2!=''">{{ sending.dropAddressLine2 }}</h3>          
            <h2><span *ngIf="sending.dropAddressPostalCode!=''">({{ sending.dropAddressPostalCode }})</span> {{ sending.dropAddressCityLong }}</h2>
            <h2>{{ sending.dropAddressStateLong }}</h2> 
        </ion-item>
        <ion-item no-lines>
            <ion-icon name="time" item-left></ion-icon>
            <p>Banda horaria de retiro</p>
            <h2>{{ sending.dropTimeFrom }} a {{ sending.dropTimeTo }}</h2>
        </ion-item>
        <ion-item no-lines>
            <ion-icon name="person" item-left></ion-icon>
            <p>Persona que recibe</p>
            <h2>{{ sending.dropPersonName }}</h2>
            <h2>{{ sending.dropPersonPhone }}</h2>
            <h2>{{ sending.dropPersonEmail }}</h2>
        </ion-item>
        <ion-list-header>Precio</ion-list-header>
        <ion-item no-lines>
            <ion-icon name="card" item-left></ion-icon>
            <p>Costo del envío</p>
            <h2>$ 79,00</h2>
        </ion-item>
    </ion-list>
    <div margin>
        <button ion-button block color="primary" 
            (click)="submit()">Confirmar Envío</button>
        <button ion-button block color="primary" outline margin-top 
            (click)="goBack(3)">Volver</button>              
        <button ion-button block color="subdark" 
            clear margin-top (click)="cancel()">Cancelar</button> 
    </div>
</ion-content>