page-shipment-create {

    ion-list .item h3 span{
        color: #aaa;
        min-width: 60px;
        display: inline-block;
    }
    ion-list .item h3{
        color: color($colors, green);
        font-size: 1.4rem;
    }
    ion-list .item ion-icon{
        color: color($colors, green);
    }

    // MAP
    #maps1 {
        min-height: 250px;
        height: 50%;
        width:100%;
    }
}
