<ion-header>
    <ion-toolbar color="green">
        <ion-buttons left>
            <button ion-button (click)="goBack()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Servicios disponibles</ion-title>
    </ion-toolbar>
    <div class="map-container">
        <div id="maps1"></div>
    </div>
</ion-header>
<ion-content class="shipment-create">
    <ion-list *ngFor="let vacant of vacants">
        <ion-item [class.selected]="mapMarkers.selected==vacant.key" no-lines detail-none>
            <h3><span>Precio</span><b>${{ vacant.data.price }}</b> | {{ vacant.data.routeDistanceKm | number: '1.0-0' }} km</h3>
            <h3><span>Fecha</span>{{ vacant.data.pickupTimeFrom | formatdatePipe:'dddd DD/MMM' }}</h3>
            <h3><span>Retirar</span>{{ vacant.data.pickupTimeFrom | formatdatePipe:'HH:mm' }} - {{ vacant.data.pickupTimeTo | formatdatePipe:'HH:mm' }} hs</h3>
            <h3><span>Entregar</span>{{ vacant.data.dropTimeFrom | formatdatePipe:'HH:mm' }} - {{ vacant.data.dropTimeTo | formatdatePipe:'HH:mm' }} hs</h3>
            <button ion-button item-right color="green"
                *ngIf="mapMarkers.selected!==vacant.key" 
                (click)="selectedToggle(vacant)">VER</button>
            <button ion-button item-right icon-only clear color="light"
                *ngIf="mapMarkers.selected===vacant.key"
                (click)="selectedToggle(vacant)"><ion-icon name="ios-close-circle-outline"></ion-icon></button>
            <button ion-button item-right color="light"
                *ngIf="mapMarkers.selected===vacant.key" 
                (click)="select(vacant.key, vacant.data)">TOMAR</button>
        </ion-item>
    </ion-list>
</ion-content>